# # Python dependencies for the data engineering challenge
# # Candidates can install these packages in their Airflow environment

# # Database connectivity
# psycopg2-binary==2.9.7
# sqlalchemy==2.0.21

# # Data processing
# pandas==2.1.1
# numpy==1.24.3

# # HTTP requests for API calls
# requests==2.31.0

# # Data validation and quality
# great-expectations==0.17.23

# # Airflow providers (if needed)
# apache-airflow-providers-postgres==5.6.0

# # Utilities
# python-dotenv==1.0.0
# pyyaml==6.0.1

# # Optional: Data visualization for exploration
# matplotlib==3.7.2
# seaborn==0.12.2

# # testing
# pytest==7.4.4
# pytest-cov==4.1.0



# compatibles:
psycopg2-binary==2.9.7
sqlalchemy==1.4.49

pandas==2.0.3
numpy==1.24.3

requests==2.31.0
great-expectations==0.17.23
apache-airflow-providers-postgres==5.6.0
python-dotenv==1.0.0
pyyaml==6.0.1

matplotlib==3.7.2
seaborn==0.12.2

pytest==7.4.4
pytest-cov==4.1.0
